@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}


<div>
    @Html.Partial("../Partial/PartialFirst");
</div>

<div>
    @Html.Partial("../Partial/PartialSecond");
</div>